SEEK_URL = "https://www.youtube.com/watch?v=9Gc4QTqslN4"
MANIFEST_KEYWORD = "Christmas 2024"
CCH24_LOG = "info"
JWT_ISSUER = "shuttlings-cch24"
JWT_KEY = "secret"
JWT_EXPIRES_IN = "86400"
COOKIE_NAME = "gift"
COOKIE_MAX_AGE = "86400"
# COOKIE_DOMAIN = "localhost"
# COOKIE_PATH = "/"
COOKIE_SECURE = "true"
JWT_PEM_FILE = "./keys/day16_santa_public_key.pem"
PG_USER = "postgres"
PG_PASSWORD = "shuttlings"
PG_DATABASE = "cch24"
